@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.t {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transform: translate3d(-50%, -50%, 0);
}
.t-line {
  display: flex;
  transform: translateX(25%);
  animation: runner 10s linear infinite;
}

@keyframes runner {
  to {
    transform: translateX(-25%);
  }
}

.img {
  --tile-margin: 3vw;
  flex: none;
  width: 30vh;
  height: 30vh;
  margin: var(--tile-margin);
  background-size: cover;
  background-position: 50% 50%;
  border-radius: 50%;
}
